<div class="container">
  <div class="row">
    <form class="col col-md-5 d-flex flex-column mx-auto" [formGroup]="form" (ngSubmit)="updateMovie()">
      <h3 class="my-5">Editar pelicula</h3>
      <div class="mb3">
        <label class="form-label">Ingresa el nombre</label>
        <input formControlName="title" [(ngModel)]="movie.mov_title" class="form-control" type="text"/>         
        <p *ngIf="titleField.errors && titleField.dirty">
       <small class="text-danger" *ngIf="titleField.hasError('required')">Es un campo requerido</small>  
      </p>
      </div>

      <div class="mb-3">
        <label  class="form-label">Ingresa el año</label>
        <input formControlName="year" [(ngModel)]="movie.mov_year"  class="form-control" type="text"/>
       <p *ngIf="yearField.errors && yearField.dirty">
       <small class="text-danger" *ngIf="yearField.hasError('required')">Es un campo requerido</small>
       <small class="text-danger" *ngIf="yearField.hasError('maxlength')">Solo puedes ingresar maximo 4 digitos</small>
           <small class="text-danger" *ngIf="yearField.hasError('pattern')">Solo puedes ingresar numeros</small>
      </p>
      </div>

      <div class="mb-3">
        <label  class="form-label">Ingresa la duración</label>
        <input formControlName="time" [(ngModel)]="movie.mov_time" class="form-control" type="text" placeholder="Ingresa la duración en minutos"/>
       <p *ngIf="timeField.errors && timeField.dirty">
       <small class="text-danger" *ngIf="timeField.hasError('required')">Es un campo requerido</small>
       <small class="text-danger" *ngIf="timeField.hasError('maxlength')">Solo puedes ingresar maximo 7 digitos</small>
       <small class="text-danger" *ngIf="timeField.hasError('pattern')">Solo puedes ingresar numeros</small>
      </p>
      </div>

      <div class="mb-3">
        <label class="form-label">Ingresa el lenguaje</label>
        <input formControlName="lang" [(ngModel)]="movie.mov_lang"  class="form-control" type="text"/>
         <p *ngIf="languageField.errors && languageField.dirty">
       <small class="text-danger" *ngIf="languageField.hasError('required')">Es un campo requerido</small>
       <small class="text-danger" *ngIf="languageField.hasError('pattern')">No puedes ingresar numeros</small>
      </p>
      </div>
      
      <div class="mb-3">
        <label class="form-label">Ingresa la fecha de estreno</label>
        <input formControlName="release" [(ngModel)]="movie.mov_dt_rel" class="form-control" type="date"/> 
      </div>

      <div class="mb-3">
        <label class="form-label font-weight-bold">Ingresa el pais</label>
        <input formControlName="country" [(ngModel)]="movie.mov_rel_country" class="form-control" type="text" placeholder="Ingresa el pais en siglas"/>
        <p *ngIf="countryField.errors && countryField.dirty">
       <small class="text-danger" *ngIf="countryField.hasError('required')">Es un campo requerido</small>
       <small class="text-danger" *ngIf="countryField.hasError('maxlength')">Solo puedes ingresar maximo 3 caracteres</small>
       <small class="text-danger" *ngIf="countryField.hasError('pattern')">No puedes ingresar numeros</small>
      </p>
      </div> 
    
      <input  [disabled]="form.invalid"  type="submit" class="btn btn-{{colorButton}} {{opacity}} my-5 mx-auto w-75" value="{{msgInputSend}}"> 
    </form>
  </div>
</div>
